body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.nav-links li {
    display: inline-block;
    margin-left: 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}

.dropdown-studio {
    margin-top: 50px;
    text-align: center;
}

.dropdown-studio select {
    padding: 10px;
    font-size: 18px;
}

.studio-package {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.package-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.package-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.package-card p {
    font-size: 16px;
    margin-bottom: 20px;
}

.login-register-button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.login-register-button a {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-register-button a:hover {
    background-color: #45a049;
}
