/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/home_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Package cards */
.studio-package {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-top: 220px;
}

.package-card {
    width: 300px;
    height: 450px;
    background-image: linear-gradient(to bottom, #2db6ff, #d161ff);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    animation-duration: 1s;
    animation-fill-mode: both;
    border-radius: 10px;
    transition: filter 0.3s ease; /* Added transition property */
}

.studio-package:hover .package-card:not(:hover) {
    filter: blur(5px); /* Apply blur effect to non-hovered cards when hovering over the studio-package */
}

.package-card:hover {
    filter: blur(0); /* Remove blur effect on the hovered card */
}

.package-card:nth-child(1) {
    animation-name: slide-in-left;
}

.package-card:nth-child(2) {
    animation-name: slide-in-top;
    animation-delay: 0.3s;
}

.package-card:nth-child(3) {
    animation-name: slide-in-right;
    animation-delay: 0.6s;
}

@keyframes slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-in-top {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-in-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.package-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.package-card p {
    font-size: 16px;
    margin-bottom: 20px;
}

.view-details-btn a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0b92aa;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
    margin-top: 70px;
}

.view-details-btn a:hover {
    background-color: #127688;
    box-shadow: none;
}

.login-register-button {
    position: fixed;
    top: 40px;
    right: 10px;
    z-index: 9999;
}

.login-register-button a {
    padding: 10px 20px;
    background-color: #0b92aa;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-register-button a:hover {
    background-color: #127688;
}
